<% user = cookies.signed[:user] %>
<div class="container">
  <div class="row content profile" style="background: #fff;">
    <div class="col-md-3">
      <div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
          <%= image_tag user["images"]["small_url"], class: "img-responsive" %>
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						<%= user["name"] %>
					</div>
					<div class="profile-usertitle-job">
						<%= user["email"] %>
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
			</div>
      <ul class="list-group profile-usermenu">
        <li class="list-group-item">
          <%= link_to 'Widgets', me_widgets_users_path %>
        </li>
        <li class="list-group-item">
          <%= link_to 'Change Password', edit_password_users_path %>
        </li>
      </ul>
    </div>
    <div class="col-md-9">
       <%= form_tag user_path(user["id"]), { class: 'form-signin', method: :put} do  %>
        <div class="form-group">
          <label>Name</label>
          <%= text_field_tag 'user[first_name]', user["first_name"], class: 'form-control', placeholder: 'First Name' %>
        </div>
        <div class="form-group">
          <label>Last Name</label>
          <%= text_field_tag 'user[last_name]', user["last_name"], class: 'form-control', placeholder: 'Last Name' %>
        </div>
        <div class="form-group">
          <label>Date Of Birth</label>
          <%= text_field_tag 'user[date_of_birth]', (user["date_of_birth"].nil? ? nil : Time.at(user["date_of_birth"]).strftime('%d-%m-%Y')), class: 'form-control', placeholder: 'dd-mm-yyyy' %>
        </div>
        <div class="form-group">
          <label>Image Url</label>
          <%= text_field_tag 'user[image_url]', nil, class: 'form-control', placeholder: 'Image Url' %>
        </div>
        <div class="clearfix">
        </div>
        <button class="btn btn-md btn-red btn-block" type="submit">Save</button>
      <% end %>
    </div>
  </div>
</div>