<% user = cookies.signed[:user] %>
<% if user.present? %>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag user["images"]["small_url"], width: 70, height: 70 %>
      </div>
      <div class="col-md-8">
        <h3><%= user["name"] %></h3>
        <p><%= user["email"] %></p>
      </div>
    </div>
  </div>
<% end %>