 <%= form_tag me_change_password_users_path, class: 'form-signin' do  %>
  <div class="form-group">
    <label>Current Password</label>
    <%= password_field_tag 'user[current_password]', nil, class: 'form-control', placeholder: 'Current Password' %>
  </div>
  <div class="form-group">
    <label>New Password</label>
    <%= password_field_tag 'user[new_password]', nil, class: 'form-control', placeholder: 'New Password' %>
  </div>
  <div class="clearfix">
  </div>
  <button class="btn btn-md btn-red btn-block" type="submit">Change Password</button>
<% end %>