 <%= form_tag reset_password_users_path, class: 'form-signin text-center' do  %>
  <%= image_tag 'logo.png', class: 'mb-4 text-center', width: '72', height: '72' %>
  <div class="form-group">
    <%= text_field_tag 'user[email]', nil, class: 'form-control', placeholder: 'Email' %>
  </div>
  <div class="clearfix">
  </div>
  <button class="btn btn-md btn-red btn-block" type="submit">Reset Password</button>
<% end %>