<%= form_tag me_widgets_users_path, {method: :get} do %>
  <div class="form-group">
    <%= text_field_tag 'term', nil %>
    <button type="submit" class="btn btn-sm btn-red mb-2"><i class="fas fa-search"></i></button>
    <%= link_to new_widget_path, class: 'btn btn-sm btn-red mb-2' do %>
      <i class="fas fa-plus"></i>
    <% end %>
  </div>
<% end %>
<%= render '/widgets/widgets' %>