 <%= form_tag widgets_path do  %>
  <%= hidden_field_tag 'id', nil, id: 'widget_id' %>
  <div class="form-group">
    <label>Name</label>
    <%= text_field_tag 'widget[name]', nil, class: 'form-control', placeholder: 'Name' %>
  </div>
  <div class="form-group">
    <label>Description</label>
    <%= text_area_tag 'widget[description]', nil, class: 'form-control', placeholder: 'Description' %>
  </div>
  <div class="form-group">
    <label>Visibility</label>
    <div class="clearfix"></div>
    <label class="switch">
      <%= check_box_tag 'widget[kind]', nil, false, class: 'form-control' %>  
      <div></div>
    </label>
  </div>
  <button class="btn btn-md btn-red btn-block" type="submit">Save</button>
<% end %>