<% @widgets.each do |widget| %>
  <div class="card widget-type-<%= widget["kind"] %>">
    <div class="card-body">
      <h4><%= widget["name"] %></h4>
      <p><%= widget["description"] %></p>
      <div class="widget-info">
        <span>by <%= widget["user"]["name"] %></span>
        
        <div class="float-right">
          <a href="#" data-toggle="modal" data-target="#widget-form" data-params="<%= widget.to_json %>">
            <i class="fas fa-edit"></i>
          </a>
          <%= link_to widget_path(widget["id"]), method: :delete do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="modal" id="widget-form">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Edit Widget</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

      </div>
    </div>
  </div>
</div>

<%= content_for :javascripts do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $widget_form = "<%=j render '/widgets/form' %>";
      $("#widget-form").on('show.bs.modal', function(e){
        var $invoker = $(e.relatedTarget);
        var $widget = JSON.parse($($invoker).attr('data-params'))
        $('#widget-form .modal-body').html($widget_form);
        $('#widget_name').val($widget["name"]);
        $('#widget_description').val($widget["description"]);
        if ($widget["kind"] == "visible") {
          $('#widget_kind').attr('checked', 'checked');
          $('#widget_kind').val($widget["kind"]);
        }
        $('#widget_id').val($widget["id"]);
      });
    });
  </script>
<% end %>