/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

.btn-red {
  background: #ed3833 !important;
  border-color: aliceblue;
  color: #fff !important;
  .fas {
    color: #fff;
  }
}

.fas {
  color: #000;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #f5edec !important;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  background: #fff;
  margin-top: 25px;
  border-radius: 10px;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 20px !important;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-item .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  background-color: transparent;
  // text-shadow: 0 .02rem .1rem rgba(0, 0, 0, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-item:hover,
.nav-masthead .nav-item:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-item + .nav-item {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.nav-masthead .dropdown-menu .nav-link {
  color: #000;
  text-align: center;
}

.content {
  padding: 10px;
  margin-top: 30px;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
* Form
*/

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  border: 2px solid #eee;
  border-radius: 10px;
  .slide-2 {
    display: none;
  }
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
}

.profile-userpic {
  text-align: center;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
  width: 100%;
  padding: 5%;
}

.profile-usermenu li:last-child {
  border-bottom: none;
}

.profile-usermenu li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu li.active {
  border-bottom: none;
}

.profile-usermenu li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

/** Switch
 -------------------------------------*/

 .switch input {
  position: absolute;
  opacity: 0;
}

.switch {
  display: inline-block;
  font-size: 20px; /* 1 */
  height: 1em;
  width: 2em;
  background: #c7d8d0;
  border-radius: 1em;
}

.switch div {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: #FFF;
  box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
}

.switch input:checked + div {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  background:#00a65a;
}


.loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.toast-success {
  background-color: green !important;
}

.toast-error {
  background-color: red !important;
}

.widget-info {
  margin: 0;
  span {
    font-size: 13px;
    color: #a5a5a5;
  }
}