<!DOCTYPE html>
<html>
  <head>
    <title>Showoff</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  </head>

  <body>
    <div class="cover-container container d-flex p-3 flex-column">
    <header class="masthead">
      <div class="inner">
        <h3 class="masthead-brand"><%= image_tag 'logo.png', width: 40, height: 40 %></h3>
        <nav class="nav nav-masthead justify-content-center">
          <div class="nav-item">
            <%= link_to root_path, class: 'nav-link active' do %>
              <i class="fas fa-home"></i> Home
            <% end %>
          </div>
          <% if current_user.present? %>
            <div class="nav-item">
              <%= link_to widgets_path, class: 'nav-link' do %>
                <i class="fas fa-cubes"></i> Widgets
              <% end %>
            </div>
            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown06" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user"></i> Accounts</a>
              <div class="dropdown-menu" aria-labelledby="dropdown06" bis_skin_checked="1">
                <%= link_to 'View Profile', me_users_path, class: 'nav-link' %>
                <%= link_to 'Logout', sign_out_accounts_path, method: :delete, class: 'nav-link' %>
              </div>
            </div>
          <% else %>
            <div class="nav-item">
              <%= link_to 'Sign In', sign_in_accounts_path, class: 'nav-link' %>
            </div>
            <div class="nav-item">
              <%= link_to 'Sign Up', sign_up_accounts_path, class: 'nav-link' %>
            </div>
          <% end %>
        </nav>
      </div>
    </header>
    <main role="main" class="inner cover">
      <%= yield %>
    </main>

    <footer class="mastfoot mt-auto">
      <div class="inner">
      </div>
    </footer>
  </div>
  <div class="loader">
    <div class="spinner-grow text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-secondary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-success" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-danger" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-warning" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-info" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-light" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-dark" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <%= custom_flash %>
  <%= yield :javascripts %>
  </body>
</html>

