 <%= form_tag accounts_path, class: 'form-signin text-center' do  %>
  <%= image_tag 'logo.png', class: 'mb-4 text-center', width: '72', height: '72' %>
  <div class="form-group">
    <%= text_field_tag 'account[username]', nil, class: 'form-control slide-1', placeholder: 'Email' %>
  </div>
  <div class="form-group">
    <%= password_field_tag 'account[password]', nil, class: 'form-control slide-2 ', placeholder: 'Password' %>
  </div>
  <div class="clearfix">
  </div>
  <button class="btn btn-md btn-red btn-block slide-1" id="validate-email">Next</button>
  <button class="btn btn-md btn-red btn-block slide-2" type="submit">Sign in</button>

  <%= link_to 'Forget Password?', forget_password_users_path %>
<% end %>


<%= content_for :javascripts do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $('#validate-email').on('click', function(e) {
        e.preventDefault();
        $.ajax({
          url: "<%= check_email_users_path(format: :json) %>",
          data: {email: $('#account_username').val()},
          success: function(data){
            $('.slide-1').hide();
            $('.slide-2').show();
          },
          error: function(data) {
            alert('email does not exist');
          }
        })
      });
    });
  </script>
<% end %>