 <%= form_tag users_path, class: 'form-signin text-center' do  %>
  <%= image_tag 'logo.png', class: 'mb-4 text-center', width: '72', height: '72' %>
  <%= text_field_tag 'account[user][first_name]', nil, class: 'form-control', placeholder: 'first name' %>
  <%= text_field_tag 'account[user][last_name]', nil, class: 'form-control', placeholder: 'last name' %>
  <%= text_field_tag 'account[user][email]', nil, class: 'form-control', placeholder: 'email' %>
  <%= password_field_tag 'account[user][password]', nil, class: 'form-control', placeholder: 'password' %>
  <%= password_field_tag 'account[user][password_confirmation]', nil, class: 'form-control', placeholder: 'password confirmation' %>
  <%= text_field_tag 'account[user][image_url]', nil, class: 'form-control', placeholder: 'Image Url' %>
  <div class="clearfix"></div>
  <button class="btn btn-lg btn-red btn-block" type="submit">Sign in</button>
<% end %>